<h2>Welcome to your first app!</h2>
<% puts x = @posts %>
<% puts x %>
<% @posts.each do |post| %>
  <div class="row">
    <div class="span9">
      <%= link_to post.title, post %>
    </div>
  </div>
<% end %>
