<h3>Most popular posts</h3>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post.url %>
    ( <%= link_to pluralize(post.comments.count, 'comment'), post %> )
  </li>
<% end %>
</ul>
